{% from "../wiki-nav-item/macro.njk" import wikiNavItem %}
{% macro wikiNav(pages, currentUrl = "") %}
  <nav class="x-govuk-sub-navigation" aria-labelledby="sub-navigation-heading">
    <ul class="x-govuk-sub-navigation__section">
          {% for itemKey,itemNode in pages %}
            {{ wikiNavItem(itemNode, 1, currentUrl) }}
          {% endfor %}
    </ul>
  </nav>
{% endmacro %}