{% macro wikiNavItem(node,level,currentUrl) %}
  {% set isCurrent = node.url == currentUrl %}
  {% set isParent = (not isCurrent) and (node.url != "/") and (currentUrl.indexOf(node.url) == 0) %}
  {% set isCurrentSection = (level == 1) and (isCurrent or isParent) %}
  <li class="x-govuk-sub-navigation__section-item{% if isCurrentSection %} x-govuk-sub-navigation__section-item--current{% endif %}">
    {% if node.children | length > 0 %}
      <!-- Parent Directory (Collapsible) -->
      <a class="x-govuk-sub-navigation__link" href="{{ node.url }}"{% if isCurrent %} aria-current="true"{% endif %}>{{ node.title }}</a>
      <ul class="x-govuk-sub-navigation__section x-govuk-sub-navigation__section--nested">
        {% for child_key,child_page in node.children %}
          {{ wikiNavItem(child_page, level + 1, currentUrl) }}
        {% endfor %}
      </ul>
    {% else %}
      <!-- File (Regular Link) -->
      <a class="x-govuk-sub-navigation__link" href="{{ node.url }}"{% if isCurrent %} aria-current="true"{% endif %}>{{ node.title }}</a>
    {% endif %}
  </li>
{% endmacro %}